<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<title>[[${topic.name}]]</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/topic.css">
	<link rel="stylesheet" type="text/css" href="/css/wysiwyg.css">
	<link rel="stylesheet" type="text/css" href="/css/pagination.css">
</head>
<body>
<!--Header-->
<div class="header">
	<div class="logo-block">
		<a href="/" title="На главную" style="width: inherit; height: inherit;">
			<img src="/img/logo.png" alt="Some Forum" class="logo">
		</a>
	</div>
	<div th:if="${forum_user}" class="forum-user-card">
		<div id="dropdown-menu" class="hide-menu">
			<div class="dropdown-menu-item"><a href="/profile">Профиль</a></div>
			<hr>
			<div class="dropdown-menu-item"><a href="/profile?form=settings">Общие настройки</a></div>
			<hr>
			<div class="dropdown-menu-item"><a href="/profile?form=security">Безопасность</a></div>
			<hr>
			<div class="dropdown-menu-item"><a href="/profile?form=email">Email</a></div>
		</div>
		<div class="avatar-holder">
			<a href="/profile"><img th:src="@{'/user/avatar/' + ${forum_user.id}}" width="85px" height="85px" style="border-radius: 50%;"></a>
			<a href="/logout"><img src="/img/close.png" width="15px" height="15px" class="logout-btn"></a>
		</div>
		<span id="forum-user-nickname">[[${forum_user.nickname}]] <span style="font-size: 12px;" id="dropdown-menu-btn">▼</span></span>
	</div>
	<div style="float: right; position: relative; height: 100%;" th:if="${forum_user}">
		<div style="position: absolute; bottom: 0; font-size: 30px; cursor: pointer;" class="mail-href">
			<div class="total-unread-count" th:if="${totalUnreadCount gt 0}">[[${totalUnreadCount}]]</div>
			<a  href="/mail">✉</a>
		</div>
	</div>
	<ul th:unless="${forum_user}" class="auth">
		<li><a href="/login">Вход</a></li>
		<li style="width: 100px;"><a href="/registration">Регистрация</a></li>
	</ul>
</div>
<!--Search panel-->
<div class="search-panel">
	<form>
	Поиск: <input type="text" name="" class="search-field"> по 
		<select id="search-filter">
			<option value="all">Всему</option>
			<option value="topic">Назниваниям тем</option>
			<option value="messages">Сообщениям</option>
		</select>
		<button>Поиск</button>
	</form>
	<span id="extra-search-button">
		Расширенный поиск <span id="search-open">▼</span>
	</span>	
	<hr class="hide-menu" id="extra-search-separator">
	<div id="extra-search-panel" class="hide-menu">
		<h3>TODO</h3>
	</div>
</div>
<div class="btn-panel">
	<div class="navigation">
		<a href="/">Начало</a>
		&#8594;
		<a th:href="@{'/board/' + ${topic.board.id} + '/1'}">[[${topic.board.name}]]</a>
		&#8594;
		<span style="font-weight: bold;">[[${topic.name}]]</span>
	</div>
	<a class="btn1" id="sector-create-btn" href="#message-body" th:if="${forum_user}">Ответить</a>
</div>

<!--Content-->
<div class="content">

<!--pagination-->
<div class="pagination-block" th:if="${topic.forumMessages.size() > 10}">
	<a th:unless="${pagination.page == 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 1}}" class="pagination-btn">&#8656;</a>
	<a th:unless="${pagination.page - 4 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 4}}" class="pagination-btn">[[${pagination.page - 4}]]</a>
	<a th:unless="${pagination.page - 3 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 3}}" class="pagination-btn">[[${pagination.page - 3}]]</a>
	<a th:unless="${pagination.page - 2 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 2}}" class="pagination-btn">[[${pagination.page - 2}]]</a>
	<a th:unless="${pagination.page - 1 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 1}}" class="pagination-btn">[[${pagination.page - 1}]]</a>
	<a class="pagination-btn pagination-btn-pressed" disabled>[[${pagination.page}]]</a>
	<a th:unless="${pagination.page + 1 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 1}}" class="pagination-btn">[[${pagination.page + 1}]]</a>
	<a th:unless="${pagination.page + 2 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 2}}" class="pagination-btn">[[${pagination.page + 2}]]</a>
	<a th:unless="${pagination.page + 3 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 3}}" class="pagination-btn">[[${pagination.page + 3}]]</a>
	<a th:unless="${pagination.page + 4 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 4}}" class="pagination-btn">[[${pagination.page + 4}]]</a>
	<a th:unless="${pagination.page + 1 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 1}}" class="pagination-btn">&#8658;</a>
</div>

	<div class="message-block" th:each="forum_message : ${forum_messages}" th:id="${forum_message.id}">
		<table>
			<tr>
				<td class="author-block">
					<a th:href="@{'/user/' + ${forum_message.author.id}}" class="author-name">[[${forum_message.author.nickname}]]</a>
					<div th:text="${forum_message.author.role == 'ADMIN'} ? 'Администрация' : 'Пользователь'"></div>
					<img th:src="@{'/user/avatar/' + ${forum_message.author.id}}" width="100px" height="100px" class="author-avatar">
					<br>
					<span class="author-info">
						Сообщений: [[${forum_message.author.forumMessages.size()}]]
					</span>
				</td>
				<td class="vertical-separator"></td>
				<td class="message-body-block">
					<table style="width: 100%; height: 100%;">
						<tr class="auto-height">
							<td class="message-info-block">
								<a th:href="@{'/fmessage/goto/' + ${forum_message.id}}"><span th:if="${counter.getValue() != 0}">Re: </span>[[${forum_message.topic.name}]]</a>
								<br>
								<span style="font-size: 14px; font-weight: bold;"><span th:if="${counter.getValue() != 0}">Ответ #[[${counter.getValue()}]] : </span>[[${#dates.format(forum_message.createTime, 'dd-MM-yyyy HH:mm:ss')}]]</span>
							</td>
						</tr>
						<tr>
							<td class="horizontal-separator"></td>
						</tr>
						<tr>
							<td class="message-text" th:utext="${forum_message.text}"></td>
						</tr>
						<tr th:if="${forum_message.author.signature != ''}">
							<td class="horizontal-separator"></td>
						</tr>
						<tr th:if="${forum_message.author.signature != ''}" class="auto-height">
							<td class="signature">
								[[${forum_message.author.signature}]]
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<span th:if="${counter.nextValue()}" style="display: none;"></span>
	</div>

	<!--pagination-->
	<div class="pagination-block" th:if="${topic.forumMessages.size() > 10}">
		<a th:unless="${pagination.page == 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 1}}" class="pagination-btn">&#8656;</a>
		<a th:unless="${pagination.page - 4 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 4}}" class="pagination-btn">[[${pagination.page - 4}]]</a>
		<a th:unless="${pagination.page - 3 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 3}}" class="pagination-btn">[[${pagination.page - 3}]]</a>
		<a th:unless="${pagination.page - 2 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 2}}" class="pagination-btn">[[${pagination.page - 2}]]</a>
		<a th:unless="${pagination.page - 1 < 1}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page - 1}}" class="pagination-btn">[[${pagination.page - 1}]]</a>
		<a class="pagination-btn pagination-btn-pressed" disabled>[[${pagination.page}]]</a>
		<a th:unless="${pagination.page + 1 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 1}}" class="pagination-btn">[[${pagination.page + 1}]]</a>
		<a th:unless="${pagination.page + 2 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 2}}" class="pagination-btn">[[${pagination.page + 2}]]</a>
		<a th:unless="${pagination.page + 3 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 3}}" class="pagination-btn">[[${pagination.page + 3}]]</a>
		<a th:unless="${pagination.page + 4 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 4}}" class="pagination-btn">[[${pagination.page + 4}]]</a>
		<a th:unless="${pagination.page + 1 > pagination.lastPage}" th:href="@{'/topic/' + ${topic.id} + '/' + ${pagination.page + 1}}" class="pagination-btn">&#8658;</a>
	</div>

	<!--wysiwyg-->
	<div class="wysiwyg" th:if=${forum_user}>

		<form action="/fmessage/add" method="post">
			<input type="hidden" name="text" id="text" value="">
			<input type="hidden" name="topicId" th:value="${topic.id}">
			<input type="hidden" name="authorId" th:value="${forum_user.id}">

			<div class="message-panel" style="width: 1350px; height: 90%;">
				<div class="message-panel-block">
					<div class="message-block-tools">
						<div class="btn3" id="bold" value="bold"><b>b</b></div>
						<div class="btn3" id="cursive" value="italic"><i>I</i></div>
						<div style="display: inline-block;">
							<span>Цвет текста:</span>
							<select id="font-color-selector">
								<option value="black" style="color: black">Чёрный</option>
								<option value="red" style="color: red">Красный</option>
								<option value="blue" style="color: blue;">Синий</option>
								<option value="yellow" style="color: yellow;">Желтый</option>
								<option value="green" style="color: green;">Зелёный</option>
							</select>
						</div>
						
					</div>
					<div id="message-body" contenteditable="true"></div>
					<div class="submit-panel">
						<input type="submit" name="" id="submit">
						<!--TODO Preview-->
						<input type="button" name="" value="Отмена">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript" src="/js/header-menu.js"></script>
<script type="text/javascript" src="/js/wysiwyg.js" th:if="${forum_user}"></script>
</body>
</html>