<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>Профиль пользователя [[${target_user.nickname}]]</title>
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

<!--Header-->
<div class="header">
	<div class="logo-block">
		<a href="/" title="На главную" style="width: inherit; height: inherit;">
			<img src="/img/logo.png" alt="Some Forum" class="logo">
		</a>
	</div>
	<div th:if="${forum_user}" class="forum-user-card">
		<div id="dropdown-menu" class="hide-menu">
			<div class="dropdown-menu-item"><a href="/profile">Профиль</a></div>
			<hr>
			<div class="dropdown-menu-item"><a href="/profile?form=settings">Общие настройки</a></div>
			<hr>
			<div class="dropdown-menu-item"><a href="/profile?form=security">Безопасность</a></div>
			<hr>
			<div class="dropdown-menu-item"><a href="/profile?form=email">Email</a></div>
		</div>
		<div class="avatar-holder">
			<a href="/profile"><img th:src="@{'/user/avatar/' + ${forum_user.id}}" width="85px" height="85px" style="border-radius: 50%;"></a>
			<a href="/logout"><img src="/img/close.png" width="15px" height="15px" class="logout-btn"></a>
		</div>
		<span id="forum-user-nickname">[[${forum_user.nickname}]] <span style="font-size: 12px;" id="dropdown-menu-btn">▼</span></span>
	</div>
	<div style="float: right; position: relative; height: 100%;" th:if="${forum_user}">
		<div style="position: absolute; bottom: 0; font-size: 30px; cursor: pointer;" class="mail-href">
			<div class="total-unread-count" th:if="${totalUnreadCount gt 0}">[[${totalUnreadCount}]]</div>
			<a  href="/mail">✉</a>
		</div>
	</div>
	<ul th:unless="${forum_user}" class="auth">
		<li><a href="/login">Вход</a></li>
		<li style="width: 100px;"><a href="/registration">Регистрация</a></li>
	</ul>
</div>
<!--Search panel-->
<div class="search-panel">
	<form>
	Поиск: <input type="text" name="" class="search-field"> по 
		<select id="search-filter">
			<option value="all">Всему</option>
			<option value="topic">Назниваниям тем</option>
			<option value="messages">Сообщениям</option>
		</select>
		<button>Поиск</button>
	</form>
	<span id="extra-search-button">
		Расширенный поиск <span id="search-open">▼</span>
	</span>	
	<hr class="hide-menu" id="extra-search-separator">
	<div id="extra-search-panel" class="hide-menu">
		<h3>TODO</h3>
	</div>
</div>
<div class="btn-panel">

</div>

<!--Content-->
<div class="content" style="width: 1140px">
	<div id="info" class="form-holder" style="width: 1140px; margin: auto;">
		<h3>
			Профиль пользователя [[${target_user.nickname}]]
			<br>
			<div style="font-size: 18px;" th:text="${target_user.role == 'ADMIN'} ? 'Администрация' : 'Пользователь'"></div>
		</h3>
		<div style="display: inline-block;"><img th:src="@{'/user/avatar/' + ${target_user.id}}" width="150px" height="150px"></div>
		<a th:if="${forum_user}" th:href="@{'/mail/send?recipient=' + ${target_user.nickname}}"><button style="float: right;">Написать личное сообщение</button></a>
		<div style="border-bottom-style: dashed; border-width: 1px; margin-bottom: 10px;">
			<div class="half">
				<b>Пол:</b>
			</div>
			<div class="half" th:switch="${target_user.gender.toString()}">
				<span th:case="MALE">мужчина</span>
				<span th:case="FEMALE">женщина</span>
				<span th:case="*">не указано</span>
			</div>
		</div>
		<div style="border-bottom-style: dashed; border-width: 1px; margin-bottom: 10px;">
			<div class="half">
				<b>Дата рождения:</b>
			</div>
			<div class="half">
				<span th:text="${target_user.dateOfBirth == null} ? 'не укаказано' : ${#dates.format(target_user.dateOfBirth, 'dd.MM.yyyy')}"></span>
			</div>
		</div>
		<div style="border-bottom-style: dashed; border-width: 1px; margin-bottom: 10px;">
			<div class="half">
				<b>Всего сообщений:</b>
			</div>
			<div class="half">
				<span>[[${target_user.forumMessages.size()}]]</span>
			</div>
		</div>
		<div style="border-bottom-style: dashed; border-width: 1px; margin-bottom: 10px;">
			<div class="half">
				<b>Дата регистрации:</b>
			</div>
			<div class="half">
				<span>[[${#dates.format(target_user.regDate, 'dd.MM.yyyy')}]]</span>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/header-menu.js"></script>
</body>
</html>